a.buttonB, button.buttonB{
    display: inline-block;
    width: 200px;
    padding: 10px 10px;
    border: 1px solid rgb(124, 123, 123);
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #616161;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    background-color: #8181811e;
}

h2 {
    color:#616161;
    font-size: 30px;
}

input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
}

select{
    border-radius: 0;
    background: white;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 268px
}

body {
    background-image: linear-gradient(to right, #d4d7ff 0%, #ABDCFF 20%, #ab8cff 51%);
    background-size: 200% auto;
}

div.fp {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 5px double rgb(168, 168, 255);
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, 0.712);
    padding: 10px;
}

div.users {
    border: 5px double rgb(168, 168, 255);
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, 0.712);
    padding: 10px;
}

table {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.line1, .line2, .line3  {
    display: flex;
    justify-content: space-around;
}
.line1 div, .line2 div, .line3 div {
    padding: 10px;
    margin-inline-start : 10px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    border-radius: 10px;

}
.box{
    flex-basis: 40%;
    background-color: rgb(255, 255, 255);
}
h3 {
    margin-top: 10px;
    font-size:30px;
    color:#616161;
}


p {
    color:#616161;
    font-weight: bold;
    font-size: 20px;
}